#table_PRINCIPAL{
    width: 96%;
    margin: 2%;
    background-color: #1f1f1f;
    border-radius: 5px;
}
#tr_1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 20px;
    line-height: 30px;
    margin-left: 2px;
}
#post_TEXT{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    resize: none;
    width: 100%;
}                                                                                                                                                                                                                                                                                                                                                                                                                      