<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="CONTENT_POSTAR">
  <table id="table_PRINCIPAL">
    <tbody id="tbody_PRINCIPAL">
      <!-- LABEL DE TEXTO -->
      <tr id="tr_1">
        <td>
          <ion-label for="post_TEXT" id="post_LABEL1">Escreva aqui:</ion-label>
        </td>

      <!-- ÁREA DE DIGITAR O TEXTO -->
      </tr>
      <tr id="tr_2">
        <td id="td1_a" colspan="3">
          <textarea name="post_TEXT" id="post_TEXT" cols="30" rows="5" placeholder="Fale sobre um momento em sua viagem..."></textarea>
        </td>

        <!-- TOOLBAR -->
        <tr>
          <td>
              <ion-buttons slot="start">
                <ion-button>
                  <ion-icon slot="start" name="camera">Foto</ion-icon>
                </ion-button>
                <ion-button>
                  <ion-icon slot="start" name="images">Galeria</ion-icon>
                </ion-button>
                
              </ion-buttons>
          </td>
          <td style="text-align: end;">
            <ion-buttons>
                <ion-button style="padding-left: 45%;">
                 Publicar
                 <ion-icon slot="start" name="send">Enviar</ion-icon>
                </ion-button>
            </ion-buttons>
          </td>
        </tr>

        <!-- SUBMIT -->
        <tr>
          <td>
            
          </td>
        </tr>
    </tbody>
  </table>
  <div>
    
    
  </div>
  

</ion-content>
