#table_PRINCIPAL{
    width: 95%;
    margin: 5px;
}
#tr_1{
    font-family: 'Ubuntu', sans-serif;;
    font-size: 20px;
    line-height: 25px;
}
#post_TEXT{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    resize: none;
    width: 100%;
}                                                                                                                                                                                                                                                                                                                                                                                                                      