<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-title id="titleApp_InitialPage">Socialize</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table>
    <tbody>
      <!-- BARRA DE PESQUISA -->
      <tr>
        <td>
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Busque pessoas ou locais"></ion-searchbar>
        </td>
      </tr>

      <!-- FEED DE POSTAGENS -->
      <tr>
        <td>
          <ion-infinite-scroll threshold="25%" [disabled]="true" position="bottom" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </td>
      </tr>
      
    </tbody>
  </table>
  


</ion-content>