<ion-header>
  <ion-toolbar>
    <ion-title>Postar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- DIV INICIAL -->
  <div >
  <ion-item>
    <ion-label position="floating">Fale sobre algo</ion-label>
    <ion-textarea rows="5" cols="20"></ion-textarea>
  </ion-item>
  <ion-fab horizontal="end" style="margin-top: 1%; margin-bottom: 1%;">
    <ion-fab-button color="transparent">
      <ion-icon name="arrow-redo-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </div>
  
    

 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/home">
    <ion-icon name="arrow-undo-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
