<ion-header>
  <ion-toolbar>
    <ion-title>Postar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-toolbar>
  <ion-item>
    <ion-label position="floating">Fale sobre algo</ion-label>
    <ion-textarea rows="5" cols="20"></ion-textarea>
  </ion-item>
  <ion-fab>
    <ion-button horizontal="end">
      <ion-icon name="arrow-redo-outline"></ion-icon>
    </ion-button>
  </ion-fab>
 </ion-toolbar>

 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/home">
    <ion-icon name="arrow-undo-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
